<div class="modal fade" id="modalConfirmRemovalStorage" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="agentHelpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content shadow-lg">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="agentHelpLabel">Confirmar remoção de Storage</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="idStorage" value="0"/>
        <h6 class="fw-bold">Confirma remoção do Server Storage que está <span class="badge bg-secondary">Offline</span>?</h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-removal-storage">Confirmar</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>