@using meshstorage_frontend.Models.ViewModels
@model meshstorage_frontend.Models.ViewModels.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
<div>
    <div class="row g-4 mb-4">
        <div class="col-xl-3 col-md-6">
            @{
                await Html.RenderPartialAsync("_InfoCardPartial", 
                    new InfoCardViewModel("Total Storages", Model.TotalStorage, "dashboard", 
                        Model.Status, "Total geral de armazenamento."));
            }
        </div>
        <div class="col-xl-3 col-md-6">
            @{
                await Html.RenderPartialAsync("_InfoCardPartial", 
                    new InfoCardViewModel("Storages Conectados", Model.ConnectedClients.ToString(), "storage", 
                        Model.Status, "Quantidade de Storages conectados na solução."));
            }
        </div>
        <div class="col-xl-3 col-md-6">
            @{
                await Html.RenderPartialAsync("_InfoCardPartial", 
                    new InfoCardViewModel("Total Arquivos", Model.TotalFiles.ToString(), "description", 
                        Model.Status, "Total de arquivos registrados somando todos os Storages."));
            }
        </div>
        <div class="col-xl-3 col-md-6">
            @{
                await Html.RenderPartialAsync("_InfoCardPartial", 
                    new InfoCardViewModel("Saúde so Sistema", Model.Health, "monitor_heart", 
                        Model.Status, Model.MessageStatus));
            }
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="lista-storages">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Carregando lista de storages...</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="lista-aplicacoes">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Carregando lista de aplicações...</span>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/view.dashboard.index.js" asp-append-version="true"></script>
}