@{
    ViewData["Title"] = "Bem Vindo!";
}
<div class="text-center">
    <div>
        <img class="dark:invert" src="logo.png" alt="MeshStorage Logo" width="450" height="150"/>
        <div class="items-center justify-center">
            <h3>Arquivos sempre presentes, espaço sempre inteligente.</h3>
            <a class="btn btn-primary mt-5" asp-action="Index" asp-controller="Dashboard" title="Acessar Dashboard">Dashboard</a>
        </div>
    </div>
</div>