@model meshstorage_frontend.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>
<h3>Detalhes do erro</h3>
<code class="text-black-50">
    @if (Model.ShowRequestId)
    {
        <strong>Codigo:</strong> <p>@Model.Code?</p><br/>
    }
    <strong>Mensagem: </strong> @Model.Message?
</code>