# Configuracao do servidor
# -----------------------------------------------------
server:
  port: ${SERVER_PORT}

# Configuração do tamanho máximo em MB=Megabytes do upload de arquivos
limit-mb: ${LIMIT_MAX_UPLOADFILE_MB}

# Configuração da URL de acesso ao arquivo utilizando um QR Code ou Link com o token
acesso-file-url: ${ACESSO_ARQUIVO_URL}

# Configuração da qualidade na compressão das imagens (PNG, JPG, GIF, TIFF, BMP) em WebP.
quality-compressed-webp: ${QUALITY_COMPRESSED_WEBP}

spring:
  datasource:
    url: ${DB_URL_JDBC}
    driver-class-name: ${DB_DRIVER_CLASS_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update  # update, create, create-drop, none
    properties:
      hibernate:
        dialect: ${DB_JPA_DIALECT}
    show-sql: ${DB_JPA_SHOW_SQL}   # true = imprime SQL no console

  servlet:
    multipart:
      max-file-size: ${limit-mb}MB
      max-request-size: ${limit-mb}MB

# Configuração do swagger para apresentar a documentação da API
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html