# Configuracao do servidor
# -----------------------------------------------------
server:
  port: ${SERVER_PORT}

#spring:
  # Variaveis de conexão com os bancos de dados
  # -----------------------------------------------------
  # MongoDB - Armazenar histórico de acessos
#  data:
#    mongodb:
#      uri: mongodb://${DB_MONGO_SERVER}:${DB_MONGO_PORT}/${DB_MONGO_DBNAME}
#      username: ${DB_MONGO_USERNAME}
#      password: ${DB_MONGO_PASSWORD}

# Configuração do tamanho máximo em MB=Megabytes do upload de arquivos
limit-mb: ${LIMIT_MAX_UPLOADFILE_MB}

spring:
  datasource:
    url: jdbc:h2:mem:meshstorage-db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update  # update, create, create-drop
    show-sql: true

  servlet:
    multipart:
      max-file-size: ${limit-mb}MB
      max-request-size: ${limit-mb}MB

# Configuração do swagger para apresentar a documentação da API
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html